.catalog {
  padding: $space-50 40px;

  &__grid {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 46px 48px;
    grid-template-columns: 200px;
    border: 3px solid red;
  }
}

@media (min-width: 488px) {
  .catalog__grid {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (min-width: 768px) {
  .catalog__grid {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (min-width: 1024px) {
  .catalog__grid {
    grid-template-columns: repeat(4, 200px);
  }
}
